*{
	box-sizing: border-box;
}

html, body{
	margin: 0;
	padding: 0;
}

body{
	/*background-color: #b5b5b7;*/
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-style: italic;
}
nav{
	position: fixed;
	top: 0;
	width: 100%;
}

nav ul{
	background-color: #252839;
	overflow: hidden;
	padding: 0;
	color: white;
	text-align: centre;
	margin: 0;
	-webkit-transition: o.4s;
	-moz-transition: o.4s;
	-ms-transition: o.4s;
	-o-transition: o.4s;
	transition: o.4s;
}

nav ul li{
	display: inline-block;
	padding: 20px;
	color: white;
}

nav ul li:hover{
	background-color: #677077;
}
a{
	text-decoration: none;
	color: inherit;
}

section{
	line-height: 1.5em;
	font-size: 0.9em;
	padding: 0;
	width: 75%;
	margin: 100px auto;
	color: #000000;
}

.handle{
	width: 100%;
	background-color: #101119;
	color: white;
	text-align: left;
	box-sizing: border-box;
	padding: 15px 10px;
	cursor: pointer;
	display: none;
}

footer{
    width: 100%;
    font-family: sans-serif;
    font-size: 90%;
    font-weight: light;
    color: white;
    text-align: center;
    background-color: #252839;
    padding: 20px;
}

[class*="col-"]{
    float: left;
    padding: 15px;
}
@media screen and (max-width: 470px){
	nav ul{
		max-height: 0;
	}
	.showing{
	    max-height: 20em;
	}
	nav ul li{
		width: 100%;
		box-sizing: border-box;
		padding: 15px;
		text-align: left;
	}
	.handle{
		display: block;
	}
	nav{
		position: initial;
	}
}

